@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
}

body{
   
    box-shadow: inset -20px 0 29px rgb(134, 134, 134, 0.25);
}

/* ESTILOS DEL HEADER */

header{
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 1.562em 4.375em;
    box-shadow: 0 0 29px 0 rgb(134, 134, 134, 0.25);
    width: 100%;
    position: fixed;
    height: 5.625em;

        
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}


a{
    text-decoration: none;
}

.itemmenu{
    padding-left: 1.25em;
    padding-right: 0.625em;
    font-size: 18px;
    color: black;
    
}


.hi{
    text-decoration: none;
}


/* HOVERS  DEL HEADER */

.hi:hover, .hi:visited:hover {
    color:#FF40CF;

}

.hi:active{

    color:  #FF40CF;
    padding: 0.625em 0.625em 0.75em 0.625em;
    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px  #FF40CF;
    text-decoration: none;
}

.hi:visited{
  
    color: black;
    
}





.boton:hover{
    background-color: #e088caec;
    border: 1px solid #e088caec;
    color: white;
    text-decoration: none;
    
}

.boton:active{
    box-shadow:0 0 8px  #FF40CF;
    color: white;
    text-decoration: none;
}

.botonhov:visited{
    color: white;
    text-decoration: none;
}


.boton{
    background-color: #FF40CF;
    color: white;
    border-radius: 50px;
    padding: 0.625em 0.625em 0.75em 0.625em;
    border: 1px solid #FF40CF;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    

}

/* FIN ESTILOS DEL HEADER */


/* Estilos de section CONOCIMIENTOS*/


.primer-caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 6.875em 2.5em 8.125em;
    width: 100%;
}
.primer-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 1.6;
}
.imagen{
    width: 50%;
    
}

.imagencita{
    width: 31.25em;
}

.holasoy{
    color: black;
    font-size: 40px;
    font-weight: 900;
}
.nombre{
    color: #FF40CF;
    font-weight: 1000;
    font-size: 50px;
}
.profesion{
    color: #616161;
    font-size: 18px;
}


.segunda-caja{
    width: 100%;
    background-color: #f6f7fb; 
    padding: 6.875em 2.5em 8.125em;
  
}

.conocimientos{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.justificado{
    max-width: 25em;
    margin-left: 28.125em;
    margin-right: 25em;
    
}
.negrita{
    font-size: 50px;
    font-weight: 1000;
}


.logos{
    width: 56.25em;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12.5em;
    
    
}
.card{
    background-color: #fff;
    border: 1px solid #dddfe5;
    height: 16.25em;
    border-radius: 8px;
    width: 16.25em;
    margin: 0.625em;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}




.card:hover{
    border: 1px solid #FF40CF;

}

.namelogo{
    font-size: 20px;
    font-weight: 700;
}

.fa-html5{
    color: #e54d26;
    font-size: 80px;
}
.fa-css3-alt{
    color: #3D8FC6;
    font-size: 80px;
}

.fa-sass{
    color: #CE6C9D;
    font-size: 80px;

}
.fa-js{
    color:#F0DB4F;
    font-size: 80px;
}
.fa-react{
    color:#61DAFB;
    font-size: 80px;

}
.fa-git-alt{
    color:#F34F29;
    font-size: 80px;
}



/* FIN  Estilos de section CONOCIMIENTOS*/


/* Estilos de section LOREM*/

.bloqueviolet{
    background-color:  #FF40CF;
    width: 100%;
    height: 35.562em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.tildes{
    font-size: 70px;
    color: white;
    text-align: center;
}

.lorem{
    color: white;
    text-align: center;
    margin-left: 17.812em;
    margin-right: 16.5em;

}

.someone{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}


/* FIN Estilos de section LOREM*/

/* Estilos de section PROYECTOS*/

.caja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.proyectos{
   /* width: 400px;
    height: 66px;*/
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    line-height: 1.2;
    margin-top: 3em;
}

.lorem2{
   width: 25em;
    height: 4.125em;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    justify-content:  center;
    align-items: center;
    text-align: center;
   margin-left: 29.375em;
    margin-top: 3.125em;


}

.containerpro{

    height: 79.625em;
   /* margin-top: 40px;*/
    display: flex;
    flex-wrap: wrap;
    padding: 6.875em 2.5em 6.875em;
    margin-left: 6.25em;

}
.cardpro{
    background-color: #fff;
    border: 1px solid #dddfe5;;
    height: 21.75em;
    border-radius: 8px;
    width: 21.375em;
    margin: 0.625em;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Estilos HOVER de section PROYECTOS*/

.cardpro:active {
    border: 1px solid #FF40CF;
    box-shadow:0 0 8px  #FF40CF;
    cursor: pointer;
    color: #FF40CF;
}



.cardpro:hover, .cardpro:visited:hover {
    border: 1px solid #FF40CF;
    cursor: pointer;
    color: #FF40CF;

}



.cardpro:hover p{
    color: #FF40CF;
}



.proyectosname:hover{
    color: #FF40CF;
}

.cardpro1:visited {
    
    text-decoration: none;
    color: black;
   
}

.cardpro:visited{
    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px  #FF40CF;
}


.proyectosname{
    font-weight: 600;
    margin-top: 15.625em;


}


.imagenfondo{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.memes{
    background-image: url("../imagen/undraw_project_team_lc5a.png");
}

.port{
    background-image: url("../imagen/portfolio.png");
    
}

.match{
    background-image: url("../imagen/undraw_Redesign_feedback_re_jvm0.png");
}

.gastos{
    background-image: url("../imagen/undraw_Bitcoin_P2P_re_1xqa.png");
}

.reunion{
    background-image: url("../imagen/undraw_Around_the_world_re_n353.png");
}
.app{
    background-image: url("..//imagen/undraw_Mobile_pay_re_sjb8.png");
}

.buscador{
    background-image: url("../imagen/undraw_researching_22gp.png");
}



/* FIN  Estilos de section PROYECTOS*/


/* Estilos de section CONTACTO*/

.cuartacaja{
    background-color:#F6F7FB;
    width: 100%;
    height: 43.062em;
    padding-top: 12.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 8.125em;
    margin-bottom: 3.125em;
    
    
}

.formulario{
    width: 68.875em;
    height: 39.875em;
    background-color: #ffffff;
    padding: 5em 3.75em;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5em;
}
.contact{
    font-weight: 900;
    font-size: 45px;
    text-align: left;
    margin-bottom: 1.5em;
}

.centre{
    font-size: 16px;
    margin-top: 1.25em;
    max-width: 25em;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 1.875em;
}

.fab1{
    color:#FF40CF;
    font-size: 20px;
    margin-right:  0.625em;
}

.fableft{
    display: flex;
    flex-direction: column;
}
.fabrigth{
    display: flex;
    flex-direction: column;

}

/* Estilos HOVER de section CONTACTO*/

.phover:hover .fab1{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #FF40CF;
    border-radius: 50%;
    background-color: #FF40CF;
    color: white;
    display: grid;
    place-content: center;
    cursor: pointer;

}

.phover:hover .text{
    color:#FF40CF;
    cursor: pointer;
}


.text:hover, .text:visited:hover{
    color:#FF40CF;
}

.text:visited{
    color: black;
}

.phover1:active {
    width: 10.625em;
    height: 3em;
    padding: 0.625em 0.625em 0.75em 0.625em;
    border: 1px;
    border-radius: 50px;
    box-shadow:0 0 8px  #FF40CF;
    

}

.modif:active {
    width: 17em;
    height: 3em;
    padding: 0.625em 0.625em 0.75em 0.625em;
    border: 1px;
    border-radius: 50px;
    box-shadow:0 0 8px  #FF40CF;
    

}


.escribime{
    display: flex;
    flex-direction: column;
   
}

/* FORMULARIO */

label{
    margin-bottom: 0.625em;
    font-weight: 600;
    margin-top: 0.312em;
    font-size: 16px;
}
input[type=text]{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    width: 14em;
    height: 2.5em;
    border: none;

    
}

.casillero:valid{
    border: 1px solid green;
}

.casillero:invalid{
    border: red;
}


input[type=text]:focus{

    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px  #FF40CF;
    outline: none;

    
}

input[type=email]:focus{

    border: 1px;
    border-radius: 100px;
    box-shadow:0 0 8px  #FF40CF;
    outline: none;

    
}

textarea:focus{
    border: 1px solid #e0e0e0;
    border: 1px;
    border-radius: 10px;
    box-shadow:0 0 8px  #FF40CF;
    outline: none;

    
}

input[type=email]{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    width: 29em;
    height: 2.6875em;
    border: none;
    
}
textarea{
    background-color: #F6F7FB;
    color:  #C0C0C0;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    width: 29em;
    height: 10.652em;
    font-family: 'Roboto Mono';
}

::placeholder{
    padding-left: 0.625em;
    padding: top 0.3225em;;
}

.fisrtlastname{
    display: flex;
    flex-direction: row;
}

.columns{
    display: flex;
    flex-direction: column;

}
.magin{
    margin-left: 1.25em;
}


.botonsubmit{
    background-color: #FF40CF;
    color: white;
    border-radius: 50px;
    padding: 0.9375em 2.375em 0.9375em 2.375em;
    border: 1px solid #FF40CF;
    cursor: pointer;
    font-size: 14px;
}

.botonsubmit:hover{
    background-color: #e088caec;
    border: 1px solid #e088caec;
}



/* FIN Estilos de section CONTACTO*/



/* Estilos de FOOTER*/

.foot{
    background-color: #FF40CF;
    width: 100%;
    height: 18.75em;
    position: relative;
    top: 14.8125em;

}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding-top: 4.875em;
    
      
}

.itemfooter{
    padding-left: 1.25em;
    padding-right:0.3125em;
    font-size: 14px;
    color: white;

}

.containiconsfoot{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.fab2{
    color:#FF40CF;
    font-size: 20px;
    
    
}

.iconsfoot{
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 0.625em;
    margin-top: 2.6875em;
    width: 2.75em;
    height: 2.75em;
    display: flex;
    display: grid;
    place-content: center;
}

/* Estilos HOVER  de FOOTER*/

.iconsfoot:hover{

    background-color: #FF40CF;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 0.625em;
    margin-top: 2.6875em;
    width: 2.75em;
    height: 2.75em;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.fab2:hover{
    color: white;
    font-size: 20px;
    cursor: pointer;
    
    
}

.itemfooter:visited{
    color: white;
}

.withlove{
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}


/* FIN  Estilos de FOOTER*/

/* RESPONSIVE */


@media screen and (max-width: 576px) {
    header {
      display: none;
    }
  
  
  .primer-caja{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
  }
  
  .primer-texto{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 1.6;
  }
  
  .imagen{
      width: 100%;
      
  }

  .segunda-caja{
    width: 100%;
    background-color: #f6f7fb; 
    padding: 0;
  
}
.justificado{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 3.80em;
    margin-right: 0;
    
}
  
.logos{
    width: 35.25em;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0.5em;

}
.card{
    background-color: #fff;
    border: 1px solid #dddfe5;
    height: 16.25em;
    border-radius: 8px;
    width: 14.25em;
    margin: 0.625em;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.bloqueviolet{
    background-color:  #FF40CF;
    width: 100%;
    height: 35.562em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.6;
}
.lorem{
    color: white;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    

}

.caja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


.lorem2{
    width: 25em;
    height: 4.125em;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    justify-content:  center;
    margin-left: 3em;
    margin-top: 3.125em;

}
.containerpro{

    height: auto;
   /* margin-top: 40px;*/
    display: flex;
    flex-wrap: wrap;
    padding: 6.875em 2.5em 6.875em;
    margin-left: 2.25em;

}
.cardpro{
    background-color: #fff;
    border: 1px solid #dddfe5;;
    height: 27.75em;
    border-radius: 8px;
    width: 27.375em;
    margin: 0.625em;
    padding: 1.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.proyectosname{
    font-weight: 600;
    margin-top: 18.625em;


}

.cuartacaja{
    background-color:#ffffff;
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-left: 1em;
}


.formulario{

    background-color: #ffffff;
    padding: 5em 3.75em;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
}


.contactame{
    padding-left: 0.25em;
}

.fableft{
    display: flex;
    flex-direction: row;
    margin-right: 025em;
}
.fabrigth{
    display: flex;
    flex-direction: row;

}

.escribime{
    padding-top: 4em;
}

.anclasfooter{
    display: none;
}

.containiconsfoot{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 5em;
}

}