@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif ;
}

body{
   
    box-shadow: inset -20px 0 29px rgb(134, 134, 134, 0.25);
}


header{
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding: 25px 70px;
    box-shadow: 0 0 29px 0 rgb(134, 134, 134, 0.25);
    width: 100%;
    position: fixed;
    height: 90px;

        
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    
      
}

.itemmenu{
    padding-left: 20px;
    padding-right: 5px;
    font-size: 16px;
}

.boton{
    background-color: #FF40CF;
    color: white;
    border-radius: 50px;
    padding: 10px 10px 12px 10px;
    border: 1px solid #FF40CF;
    cursor: pointer;
    font-size: 14px;

}

.primer-caja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 110px 40px 130px;
    width: 100%;
}
.primer-texto{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    line-height: 1.6;
}
.imagen{
    width: 50vw;
    
}

.imagencita{
    width: 500px;
}

.holasoy{
    color: black;
    font-size: 40px;
    font-weight: 900;
}
.nombre{
    color: #FF40CF;
    font-weight: 1000;
    font-size: 50px;
}
.profesion{
    color: #616161;
    font-size: 18px;
}


.segunda-caja{
    width: 100%;
    background-color: #f6f7fb; 
    padding: 110px 40px 130px;
  
}

.conocimientos{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.justificado{
    max-width: 400px;
    margin-left: 450px;
    margin-right: 400px;
    
}
.negrita{
    font-size: 50px;
    font-weight: 1000;
}


.logos{
    width: 900px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    
    
}
.card{
    background-color: #fff;
    border: 1px solid #dddfe5;;
    height: 260px;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.namelogo{
    font-size: 20px;
    font-weight: 700;
}

.fa-html5{
    color: #e54d26;
    font-size: 80px;
}
.fa-css3-alt{
    color: #3D8FC6;
    font-size: 80px;
}

.fa-sass{
    color: #CE6C9D;
    font-size: 80px;

}
.fa-js{
    color:#F0DB4F;
    font-size: 80px;
}
.fa-react{
    color:#61DAFB;
    font-size: 80px;

}
.fa-git-alt{
    color:#F34F29;
    font-size: 80px;
}

.bloqueviolet{
    background-color:  #FF40CF;
    width: 100%;
    height: 569px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.tildes{
    font-size: 70px;
    color: white;
    text-align: center;
}

.lorem{
    color: white;
    text-align: center;
    margin-left: 285px;
    margin-right: 264px;

}

.someone{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}


.caja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.proyectos{
   /* width: 400px;
    height: 66px;*/
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    line-height: 1.2;
    margin-top: 160px;
}

.lorem2{
    width: 400px;
    height: 66px;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    justify-content:  center;
    margin-left: 470px;
    margin-top: 50px;

}

.containerpro{

    height: 1274px;
   /* margin-top: 40px;*/
    display: flex;
    flex-wrap: wrap;
    padding: 110px 40px 110px;
    margin-left: 100px;

}
.cardpro{
    background-color: #fff;
    border: 1px solid #dddfe5;;
    height: 348px;
    border-radius: 8px;
    width: 342px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.proyectosname{
    font-weight: 600;
    margin-top: 250px;

}


.imagenfondo{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.memes{
    background-image: url("../imagen/undraw_project_team_lc5a.png");
}

.port{
    background-image: url("../imagen/portfolio.png");
    
}

.match{
    background-image: url("../imagen/undraw_Redesign_feedback_re_jvm0.png");
}

.gastos{
    background-image: url("../imagen/undraw_Bitcoin_P2P_re_1xqa.png");
}

.reunion{
    background-image: url("../imagen/undraw_Around_the_world_re_n353.png");
}
.app{
    background-image: url("..//imagen/undraw_Mobile_pay_re_sjb8.png");
}

.buscador{
    background-image: url("../imagen/undraw_researching_22gp.png");
}






.cuartacaja{
    background-color:#F6F7FB;
    width: 100vw;
    height: 689px;
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 130px;
    
    
}

.formulario{
    width: 1102px;
    height: 638px;
    background-color: #ffffff;
    padding: 80px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.contact{
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
}

.centre{
    font-size: 16px;
    margin-top: 20px;
    max-width: 400px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.fab1{
    color:#FF40CF;
    font-size: 20px;
    margin-right: 10px;
}

.escribime{
    display: flex;
    flex-direction: column;
   
}